.header{
  background: #262626;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
  box-shadow: 10px 10px 10px black;
}
.header a{
  padding: 20px;
}
.header .btn-con .btn {
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 5px 10px;
}
.header img {
  width: 60px;
}
.header .x, .header .bar {
  display: none;
}
/* Intro */
.intro{
  padding: 40px 0px;
}
.intro .row{
  min-height: 60vh;
}
.intro a img{
  width: 70px;
  margin-right: 20px;
}
.intro .intro-text {
  font-size: 25px;
}
.intro .intro-img img{
  width: 300px;
}
.about {
  padding: 40px 0px;
}
.about img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.htb {
  /* background: url("../../public/BG.png"); */
  color: #fff;
  padding: 30px 0px;
}
.htb .htb-head {
  padding: 20px 1px;
}
.htb .htb-con {
  margin: 30px;
  border: 3px solid #fff;
  border-radius: 20px 0px 20px 0px;
  align-items: center;
  padding: 20px 5px;
  box-shadow: 0px 0px 20px #fff;
  background: #0000007e;
}
.htb span {
  font-weight: bold;
  font-size: 18px;
  padding: 5px 1px;
  font-size: 30px;
}
.htb small {
  color: white;
  font-size: 22px;
}
.htb .htb-img {
  padding: 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.htb img {
  width: 70px;
}
.tokenomics{
  padding: 40px 0px;
}
.tokenomics .wrap{
  background: #0000007e;
  padding: 20px;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 0px 0px 40px #fff;
  border: 2px solid #fff;
  margin-top: 20px;
}
.tokenomics img{
  width: 50px;
  margin: 20px;
}
.tokenomics i#ti0 {
  color: pink;
}
.tokenomics i#ti1 {
  color: #c79301;
}
.tokenomics i#ti3 {
  color: rgb(81, 81, 255);
}
.tokenomics .cir {
  width: 300px;
}

/* roadmap */
.roadmap{
  padding: 40px 0px;
}

.roadmap .cards {
  background: linear-gradient(to top, goldenrod, #a06006) ;
  border-radius: 20px;
  box-shadow: 10px 10px 0px #494848;
}
/* foote{r */
.footer {
  border-top: 2px solid #000;
}

.contact {
  padding: 30px 0px;
}

.contact i {
  font-size: 26px;
  padding: 10px;
  margin: 30px 10px;
  background: #fff;
  color: black;
  border-radius: 50%;
}
/* FONT MANIPULATION */
h1{
  font-size: 56px;
  text-transform: uppercase;

}
h3{
  font-size: 23px;
}
a{
  font-size: 20px;
}

@media (max-width: 1024px) {
  .header .menu-con{
    position: fixed;
    background: #262626;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    display: none;
    animation: fade-in 1s ease-in-out forwards;
  }
  @keyframes fade-in {
    from { opacity: 0; } /* Start with 0 opacity */
    to { opacity: 1; } /* Transition to 1 opacity */
  }
  .header .menu-con.active-menu{
    display: flex;
    opacity: 1;
  }
  
  .header .menu-con a{
    display: block;
    font-size: 50px;
    font-weight: bold;
  }
  .header .x {
    display: block;
  }
  .header .x span{
    font-size: 50px;
    color: #000;
    font-weight: bold;
  }
  .header .btn {
    display: none;
  }
  .header .bar {
    display: block;
    font-size: 28px;
  }
  .intro {
    text-align: center;
    padding: 40px 10px;
  }
  .intro a img{
    width: 100px;
  }
  .intro .intro-img img {
    display: none;
  }
}